/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .page .entry .thumbnail{
    float: right;
    width: 300px;
  }
}

/* Desktop
------------------------- */
@media (min-width: 980px) and (max-width: 1199px)  {
  .page .entry .thumbnail{
    float: right;
    width: 31.623931623931625%;
    *width: 31.570740134569924%;
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  .page .entry .thumbnail{
    float: right;
    width: 200px;
  }
}

/* Tablet
------------------------- */
@media (min-width: 481px) and (max-width: 767px) {
  .page .entry .thumbnail{
    float: right;
    width: 31.491712707182323%;
    *width: 31.43852121782062%;
  }
}

@media (max-width: 480px) {
  .page .entry .thumbnail{
	margin-left: 0;
  }
}
/* FORCED OVERRIDES */
.page h3.title { background-color: #252540 !important; color: #f0f0f0 !important; border-top: 3px solid #c9a227 !important; }
.page h3.title a { color: #f0f0f0 !important; }
.container, .container-narrow { max-width: 100% !important; width: 100% !important; margin: 0 !important; }
.main { margin: 20px !important; max-width: 100% !important; width: 100% !important; }
